img { 
    max-width:100%; 
    height:auto; 
}

a {
    text-decoration: none;
}




.logo {
    width: 100%;
}

.mainview {
    width: 100%;
}

.title {
    width: 100%;
    margin-top: 10px;
}

.aboutZoom {
    position: relative;
}

.what-is-online {
    width: 100%;
}

.apple {
    width: 43%;
    position: absolute;
    top: 94%;
    left: 6%;
}

.google {
    width: 43%;
    position: absolute;
    top: 94%;
    left: 51%;
}

.online {
    width: 100%;
}

.schedule {
    width: 100%;
}

.tap {
    width: 100%;
}

.contents01 {
    width: 100%;
}

.contents02 {
    width: 100%;
}

.back_button {
    width: 100%;
    margin-top: 20%;
}






/* .part_of_click_button {
    width: 100%;
}

.click1 {
    width: 8%;
    margin-left: 19%;
}

.click2 {
    width: 8%;
    margin-left: 19%;
}

.click3 {
    width: 8%;
    margin-left: 19%;
} */